.nav-link, .sobre-mim, .div-servicos, .div-materiais, .title-color {
   color: #B44715 !important;
   font-family: "Averia Serif Libre", serif;
   font-weight: 700 !important;
}

.nav-link:hover {
   color: rgba(95, 47, 24, 0.63) !important;
   transition: ease-in-out .3s;
}

.navbar-toggler {
   width: 50px;
   display: flex;
}

.navbar-toggler:focus {
   color: #A9CDFF;
}

.icon-link:hover {
   color: #69e3c1d1 !important;
   transition: ease-in-out .2s;
}

.link-github:hover {
   color: rgb(218, 101, 181) !important;
}

.div-footer {
   background-color: #fdcfca;
}

.font-color:hover {
   color: rgba(0, 0, 0, 0.61) !important;
}

.img-servicos {
   transform: scale(1);
   transition: .3s ease-in-out;
}

.img-servicos:hover {
   transform: scale(1.1);
}



@media screen and (max-width: 400px) {
   .title-carousel {
      font-size: 10px;
   }
   
   .p-carousel {
      font-size: 8px;
   }
}

@media screen and (min-width: 400px) and (max-width: 768px) {
   .title-carousel {
      font-size: 15px;
   }
   
   .p-carousel {
      font-size: 10px;
   }
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLET */

   .title-carousel {
      font-size: 25px;
   }
   
   .p-carousel {
      font-size: 15px;
   }
}

